<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there!</p>
    <br>
    <p>
      We have received your order. If you have any questions, please do not hesitate to reach out.
    </p>
    <br>
    <p>Order details</p>
    <hr>
    <p>
      <% @order.line_items.each do |item| %>
        <p>
          Product: <%= item.product.name %><br>
          Unit price: <%= humanized_money_with_symbol item.product.price %><br>
          Quantity: <%= item.quantity %><br>
          Price: <%= humanized_money_with_symbol item.product.price * item.quantity %><br>
        </p>
        <br>
      <% end %>
    </p>
    <p>
      Total: <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
    </p>
    <hr>
    <p>Thank you for your order!</p>
    <p>The Jungle team</p>
  </body>
</html>